# Pandas Challenge - PyCitySchools

## Set-up

In [1]:
#Import dependencies
import pandas as pd
import numpy as np

In [2]:
#Load in files
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
#Read in files, save as dataframes
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
#Combine data into single dataframe
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

In [5]:
#Find unique school names
total_schools_array = school_data_complete["school_name"].unique()

In [6]:
#Find length of total_schools_array
number_of_schools = len(total_schools_array)

In [7]:
#Calculate total number of students
total_students = len(school_data_complete["student_name"])

In [8]:
#Calculate total budget
total_budget = school_data["budget"].sum()

In [9]:
#Calculate average math score
avg_math_score = school_data_complete["math_score"].mean()

In [10]:
#Calculate average reading score
avg_reading_score = school_data_complete["reading_score"].mean()

In [11]:
#Calculate percentage of students passing math (>= 70)

passing_math_scores = [entry for entry in school_data_complete["math_score"] if entry >= 70]

percent_passing_math = (len(passing_math_scores)/total_students) * 100

In [12]:
#Calculate percentage of students passing reading (>= 70)

passing_reading_scores = [entry for entry in school_data_complete["reading_score"] if entry >= 70]

percent_passing_reading = (len(passing_reading_scores)/total_students) * 100

In [13]:
#Calculate percentage passing both
passing_both = school_data_complete.loc[(school_data_complete["reading_score"] >=70) & (school_data_complete["math_score"] >= 70), :].count()

passing_both_count = passing_both.iloc[1]

percent_passing_both = (passing_both_count/total_students)*100

#Method for calculating "passing_both" courtesy of Sanoo Singh. Thank you!

In [14]:
#Create dataframe with results

district_summary = {"Total Schools": [number_of_schools], "Total Students": [total_students], "Total Budget": [total_budget], "Average Math Score": [avg_math_score], "Average Reading Score": [avg_reading_score], "% Passing Math": [percent_passing_math], "% Passing Reading": [percent_passing_reading], "% Passing Overall" : percent_passing_both }
    
district_summary_df = pd.DataFrame(district_summary)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [16]:
school_data = school_data_complete[["school_name", "type", "size", "budget"]].drop_duplicates()

In [17]:
school_data["budget_per_student"] = school_data["budget"]/school_data["size"]

In [18]:
school_data.sort_values(by=["school_name"])

                 school_name      type  size   budget  budget_per_student
17871     Bailey High School  District  4976  3124928               628.0
16013    Cabrera High School   Charter  1858  1081356               582.0
2917    Figueroa High School  District  2949  1884411               639.0
34796       Ford High School  District  2739  1763916               644.0
12262    Griffin High School   Charter  1468   917500               625.0
7627   Hernandez High School  District  4635  3022020               652.0
22847     Holden High School   Charter   427   248087               581.0
0          Huang High School  District  2917  1910635               655.0
30035    Johnson High School  District  4761  3094650               650.0
23274       Pena High School   Charter   962   585858               609.0
26036  Rodriguez High School  District  3999  2547363               637.0
5866     Shelton High School   Charter  1761  1056600               600.0
37535     Thomas High School   Charter  1635  1043130               638.0
13730     Wilson High School   Charter  2283  1319574               578.0
24236     Wright High School   Charter  1800  1049400               583.0

In [19]:
#Create new column: if the student is passing reading (True or False)

school_data_complete["passing_reading?"] = np.where(school_data_complete["reading_score"] >=70, True, False)

#numpy code borrowed from: https://www.dataquest.io/blog/tutorial-add-column-pandas-dataframe-based-on-if-else-condition/

In [20]:
#Create new column: if the student is passing math (True or False)

school_data_complete["passing_math?"] = np.where(school_data_complete["math_score"] >=70, True, False)

In [21]:
school_data_complete["passing_both?"] = school_data_complete["passing_math?"] & school_data_complete["passing_reading?"]

In [22]:
#Calculate means by school name

mean_by_school = school_data_complete.groupby("school_name").mean()

#I am taking advantage of the fact that python treats True like it's a 1, and False like it's a 0

In [23]:
#Merge dataframes

school_data_with_avgs = pd.merge(school_data, mean_by_school, on = "school_name")

In [24]:
#Sort by school names

school_data_with_avgs = school_data_with_avgs.sort_values("school_name")

In [25]:
#Delete unnecessary columns

filtered_school_data = school_data_with_avgs.drop(["Student ID", "School ID", "size_y", "budget_y"], axis=1)

In [26]:
#Rename columns

filtered_school_data = filtered_school_data.rename(columns= {"school_name": "School Name", "type": "School Type", "size_x":"Total Students","budget_x":"Total School Budget", "budget_per_student":"Per Student Budget", "reading_score":"Average Reading Score", "math_score":"Average Math Score", "passing_reading?":"% Passing Reading", "passing_math?":"% Passing Math", "passing_both?":"% Passing Both"})

In [27]:
#Set School Name as index

filtered_school_data.set_index("School Name", inplace = True)

In [28]:
#Convert last 3 columns to percents

filtered_school_data["% Passing Reading"] = filtered_school_data["% Passing Reading"] * 100
filtered_school_data["% Passing Math"] = filtered_school_data["% Passing Math"] * 100
filtered_school_data["% Passing Both"] = filtered_school_data["% Passing Both"] * 100

filtered_school_data

,School Type,Total Students,Total School Budget,Per Student Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Passing Both
School Name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,81.933280,66.680064,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,97.039828,94.133477,91.334769
Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,80.739234,65.988471,53.204476
Ford High School,District,2739,1763916,644.0,80.746258,77.102592,79.299014,68.309602,54.289887
Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,97.138965,93.392371,90.599455
Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,80.862999,66.752967,53.527508
Holden High School,Charter,427,248087,581.0,83.814988,83.803279,96.252927,92.505855,89.227166
Huang High School,District,2917,1910635,655.0,81.182722,76.629414,81.316421,65.683922,53.513884
Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,81.222432,66.057551,53.539172
Pena High School,Charter,962,585858,609.0,84.044699,83.839917,95.945946,94.594595,90.540541
Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,80.220055,66.366592,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,95.854628,93.867121,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,97.308869,93.272171,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,96.539641,93.867718,90.582567
Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222,96.611111,93.333333,90.333333

## Top Performing Schools (by % Overall Passing)

In [29]:
#Sort School Summary dataframe by % Overall Passing to display top 5 schools

top_performing_overall = filtered_school_data.sort_values("% Passing Both", ascending=False)

In [30]:
#Display resulting dataframe

top_performing_overall.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Passing Both
School Name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,97.039828,94.133477,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,97.308869,93.272171,90.948012
Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,97.138965,93.392371,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,96.539641,93.867718,90.582567
Pena High School,Charter,962,585858,609.0,84.044699,83.839917,95.945946,94.594595,90.540541

In [31]:
#Format dataframe (optional)

## Bottom Performing Schools (by % Overall Passing)

In [32]:
#Sort School Summary dataframe by % Overall Passing to display bottom 5 schools

bottom_performing_overall = filtered_school_data.sort_values("% Passing Both")

In [33]:
#Display resulting dataframe

bottom_performing_overall.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Passing Both
School Name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,80.220055,66.366592,52.988247
Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,80.739234,65.988471,53.204476
Huang High School,District,2917,1910635,655.0,81.182722,76.629414,81.316421,65.683922,53.513884
Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,80.862999,66.752967,53.527508
Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,81.222432,66.057551,53.539172

## Math Scores by Grade per School

In [34]:
#Create pandas series of math scores for each grade

ninth_grade = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_grade = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_grade = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_grade = school_data_complete[(school_data_complete["grade"] == "12th")]

In [35]:
#Group grade series by school

ninth_grade_by_school = ninth_grade.groupby("school_name").mean()
tenth_grade_by_school = tenth_grade.groupby("school_name").mean()
eleventh_grade_by_school = eleventh_grade.groupby("school_name").mean()
twelfth_grade_by_school = twelfth_grade.groupby("school_name").mean()

In [36]:
ninth_grade_by_school

,Student ID,reading_score,math_score,School ID,size,budget,passing_reading?,passing_math?,passing_both?
school_name,,,,,,,,,
Bailey High School,20344.481481,81.303155,77.083676,7.0,4976.0,3124928.0,0.821674,0.671468,0.550754
Cabrera High School,16969.634470,83.676136,83.094697,6.0,1858.0,1081356.0,0.967803,0.952652,0.922348
Figueroa High School,4397.878505,81.198598,76.403037,1.0,2949.0,1884411.0,0.815421,0.641355,0.529206
Ford High School,36170.595438,80.632653,77.361345,13.0,2739.0,1763916.0,0.795918,0.689076,0.559424
Griffin High School,13031.305623,83.369193,82.044010,4.0,1468.0,917500.0,0.960880,0.924205,0.887531
Hernandez High School,9928.620839,80.866860,77.438495,3.0,4635.0,3022020.0,0.811143,0.667149,0.538350
Holden High School,23068.314961,83.677165,83.787402,8.0,427.0,248087.0,0.944882,0.913386,0.866142
Huang High School,1445.726303,81.290284,77.027251,0.0,2917.0,1910635.0,0.812796,0.681280,0.543839
Johnson High School,32399.975714,81.260714,77.187857,12.0,4761.0,3094650.0,0.818571,0.667857,0.544286
Pena High School,23766.127273,83.807273,83.625455,9.0,962.0,585858.0,0.981818,0.930909,0.912727
Rodriguez High School,28017.408076,80.993127,76.859966,11.0,3999.0,2547363.0,0.803265,0.664089,0.536082
Shelton High School,6750.615094,84.122642,83.420755,2.0,1761.0,1056600.0,0.967925,0.933962,0.903774
Thomas High School,38356.793926,83.728850,83.590022,14.0,1635.0,1043130.0,0.980477,0.934924,0.917570
Wilson High School,14879.667195,83.939778,83.085578,5.0,2283.0,1319574.0,0.968304,0.933439,0.901743
Wright High School,25152.370588,83.833333,83.264706,10.0,1800.0,1049400.0,0.958824,0.941176,0.903922

In [37]:
#Save only the math scores by grade

ninth_grade_math = ninth_grade_by_school[["math_score"]]
tenth_grade_math = tenth_grade_by_school[["math_score"]]
eleventh_grade_math = eleventh_grade_by_school[["math_score"]]
twelfth_grade_math = twelfth_grade_by_school[["math_score"]]

In [38]:
#Merge 9th and 10th grade data

math_scores_by_school = pd.merge(ninth_grade_math, tenth_grade_math, on = "school_name")

In [39]:
#Merge in 11th grade data

math_scores_by_school = pd.merge(math_scores_by_school, eleventh_grade_math, on = "school_name")

In [40]:
#Merge in 12th grade data

math_scores_by_school = pd.merge(math_scores_by_school, twelfth_grade_math, on = "school_name")
math_scores_by_school

C:\Users\itssm\AppData\Local\Temp\ipykernel_14880\3548170338.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'math_score_x'} in the result is deprecated and will raise a MergeError in a future version.
  math_scores_by_school = pd.merge(math_scores_by_school, twelfth_grade_math, on = "school_name")

                       math_score_x  math_score_y  math_score_x  math_score_y
school_name
Bailey High School        77.083676     76.996772     77.515588     76.492218
Cabrera High School       83.094697     83.154506     82.765560     83.277487
Figueroa High School      76.403037     76.539974     76.884344     77.151369
Ford High School          77.361345     77.672316     76.918058     76.179963
Griffin High School       82.044010     84.229064     83.842105     83.356164
Hernandez High School     77.438495     77.337408     77.136029     77.186567
Holden High School        83.787402     83.429825     85.000000     82.855422
Huang High School         77.027251     75.908735     76.446602     77.225641
Johnson High School       77.187857     76.691117     77.491653     76.863248
Pena High School          83.625455     83.372000     84.328125     84.121547
Rodriguez High School     76.859966     76.612500     76.395626     77.690748
Shelton High School       83.420755     82.917411     83.383495     83.778976
Thomas High School        83.590022     83.087886     83.498795     83.497041
Wilson High School        83.085578     83.724422     83.195326     83.035794
Wright High School        83.264706     84.010288     83.836782     83.644986

In [41]:
#Rename columns

math_scores_by_school.columns = ["9th grade", "10th grade", "11th grade", "12th grade"]
math_scores_by_school.index.name = None

In [42]:
#Display dataframe

math_scores_by_school

                       9th grade  10th grade  11th grade  12th grade
Bailey High School     77.083676   76.996772   77.515588   76.492218
Cabrera High School    83.094697   83.154506   82.765560   83.277487
Figueroa High School   76.403037   76.539974   76.884344   77.151369
Ford High School       77.361345   77.672316   76.918058   76.179963
Griffin High School    82.044010   84.229064   83.842105   83.356164
Hernandez High School  77.438495   77.337408   77.136029   77.186567
Holden High School     83.787402   83.429825   85.000000   82.855422
Huang High School      77.027251   75.908735   76.446602   77.225641
Johnson High School    77.187857   76.691117   77.491653   76.863248
Pena High School       83.625455   83.372000   84.328125   84.121547
Rodriguez High School  76.859966   76.612500   76.395626   77.690748
Shelton High School    83.420755   82.917411   83.383495   83.778976
Thomas High School     83.590022   83.087886   83.498795   83.497041
Wilson High School     83.085578   83.724422   83.195326   83.035794
Wright High School     83.264706   84.010288   83.836782   83.644986

In [43]:
#Format dataframe (optional)

## Reading Scores by Grade per School

In [44]:
ninth_grade_reading = ninth_grade_by_school[["reading_score"]]
tenth_grade_reading = tenth_grade_by_school[["reading_score"]]
eleventh_grade_reading = eleventh_grade_by_school[["reading_score"]]
twelfth_grade_reading = twelfth_grade_by_school[["reading_score"]]

In [45]:
#Combine series into dataframe

In [46]:
#Merge 9th and 10th grade data

reading_scores_by_school = pd.merge(ninth_grade_reading, tenth_grade_reading, on = "school_name")

In [47]:
#Merge in 11th grade data

reading_scores_by_school = pd.merge(reading_scores_by_school, eleventh_grade_reading, on = "school_name")

In [48]:
#Merge in 12th grade data

reading_scores_by_school = pd.merge(reading_scores_by_school, twelfth_grade_reading, on = "school_name")
reading_scores_by_school

C:\Users\itssm\AppData\Local\Temp\ipykernel_14880\4022663574.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'reading_score_x'} in the result is deprecated and will raise a MergeError in a future version.
  reading_scores_by_school = pd.merge(reading_scores_by_school, twelfth_grade_reading, on = "school_name")

,reading_score_x,reading_score_y,reading_score_x,reading_score_y
school_name,,,,
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

In [49]:
#Rename columns

reading_scores_by_school.columns = ["9th grade", "10th grade", "11th grade", "12th grade"]
reading_scores_by_school.index.name = None

In [50]:
#Display dataframe

reading_scores_by_school

                       9th grade  10th grade  11th grade  12th grade
Bailey High School     81.303155   80.907183   80.945643   80.912451
Cabrera High School    83.676136   84.253219   83.788382   84.287958
Figueroa High School   81.198598   81.408912   80.640339   81.384863
Ford High School       80.632653   81.262712   80.403642   80.662338
Griffin High School    83.369193   83.706897   84.288089   84.013699
Hernandez High School  80.866860   80.660147   81.396140   80.857143
Holden High School     83.677165   83.324561   83.815534   84.698795
Huang High School      81.290284   81.512386   81.417476   80.305983
Johnson High School    81.260714   80.773431   80.616027   81.227564
Pena High School       83.807273   83.612000   84.335938   84.591160
Rodriguez High School  80.993127   80.629808   80.864811   80.376426
Shelton High School    84.122642   83.441964   84.373786   82.781671
Thomas High School     83.728850   84.254157   83.585542   83.831361
Wilson High School     83.939778   84.021452   83.764608   84.317673
Wright High School     83.833333   83.812757   84.156322   84.073171

In [51]:
#Format dataframe (optional)

## Scores by School Spending

In [52]:
#Create table that breaks down school performance metrics into 4 bins by Spending Ranges(per student).

In [68]:
#Make bins by "Per Student Budget"

budget_bins = [0, 584.999999, 629.999999, 644.999999, 680]

In [69]:
#Make labels for bins
budget_labels = ["<$585", "$585-629", "$630-644", "$645-680"]

In [70]:
#Bin schools

filtered_school_data["Spending Ranges (Per Student)"] = pd.cut(filtered_school_data["Per Student Budget"], bins = budget_bins, labels = budget_labels)
filtered_school_data

,School Type,Total Students,Total School Budget,Per Student Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Passing Both,Spending Ranges (Per Student),School Size
School Name,,,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,81.933280,66.680064,54.642283,$585-629,Large
Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,97.039828,94.133477,91.334769,<$585,Medium
Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,80.739234,65.988471,53.204476,$630-644,Large
Ford High School,District,2739,1763916,644.0,80.746258,77.102592,79.299014,68.309602,54.289887,$630-644,Large
Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,97.138965,93.392371,90.599455,$585-629,Medium
Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,80.862999,66.752967,53.527508,$645-680,Large
Holden High School,Charter,427,248087,581.0,83.814988,83.803279,96.252927,92.505855,89.227166,<$585,Small
Huang High School,District,2917,1910635,655.0,81.182722,76.629414,81.316421,65.683922,53.513884,$645-680,Large
Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,81.222432,66.057551,53.539172,$645-680,Large
Pena High School,Charter,962,585858,609.0,84.044699,83.839917,95.945946,94.594595,90.540541,$585-629,Small
Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,80.220055,66.366592,52.988247,$630-644,Large
Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,95.854628,93.867121,89.892107,$585-629,Medium
Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,97.308869,93.272171,90.948012,$630-644,Medium
Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,96.539641,93.867718,90.582567,<$585,Large
Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222,96.611111,93.333333,90.333333,<$585,Medium

In [56]:
#Group schools by budget

budget_df = filtered_school_data[["Average Reading Score", "Average Math Score", "% Passing Reading", "% Passing Math", "% Passing Both", "Spending Ranges (Per Student)"]]

budget_grouped = budget_df.groupby("Spending Ranges (Per Student)").mean()

budget_grouped

,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Passing Both
Spending Ranges (Per Student),,,,,
<$585,83.933814,83.455399,96.610877,93.460096,90.369459
$585-629,83.155286,81.899826,92.718205,87.133538,81.418596
$630-644,81.624473,78.518855,84.391793,73.484209,62.857656
$645-680,81.027843,76.997210,81.133951,66.164813,53.526855

## Scores by School Size

In [57]:
#Create table that breaks down school performance metrics by school size

In [58]:
# Make bins by Total Students

bins = [0, 999, 1999, 5000]

In [59]:
#Make labels for bins

labels = ["Small", "Medium", "Large"]

In [60]:
#Bin schools

filtered_school_data["School Size"] = pd.cut(filtered_school_data["Total Students"], bins = bins, labels = labels)

In [61]:
#Get rid of unnecessary columns

school_size_df = filtered_school_data[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Passing Both", "School Size"]]

In [62]:
#Group by School Size

school_size_grouped = school_size_df.groupby("School Size").mean()

school_size_grouped

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Both
School Size,,,,,
Small,83.821598,83.929843,93.550225,96.099437,89.883853
Medium,83.374684,83.864438,93.599695,96.790680,90.621535
Large,77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

In [63]:
#Create table that breaks down school performance metrics by school type

In [64]:
#Get rid of unnecessary columns

school_type_df = filtered_school_data[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Passing Both", "School Type"]]

In [65]:
#Group by School Type

school_type_grouped = school_type_df.groupby("School Type").mean()
school_type_grouped

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Both
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208

# Report

One pattern that I found is that district schools' test scores tended to be lower than charter schools' scores. This was shown when looking at the top and bottom performing schools, as measured by the percent of students who had passing scores for both reading and math. All of the top-performing schools were charter schools, whereas all of the bottom-performing schools were district schools.

I also thought it was interesting that charter schools tended to have lower per-student spending than district schools, as shown by the cell below (I was just curious about if there was a relationship, so I did it on my own). As a former educator, I find this very interesting. If I were doing research with this data, I would want to dig deeper to see what other factors might be involved, such as average class size.

In [73]:
budget_type = filtered_school_data[["School Type", "Average Reading Score", "Average Math Score", "% Passing Reading", "% Passing Math", "% Passing Both", "Spending Ranges (Per Student)"]]

budget_type_grouped = budget_type.groupby(["School Type", "Spending Ranges (Per Student)"])

budget_type_grouped.mean()

                                           Average Reading Score  \
School Type Spending Ranges (Per Student)
Charter     <$585                                      83.933814
            $585-629                                   83.862393
            $630-644                                   83.848930
            $645-680                                         NaN
District    <$585                                            NaN
            $585-629                                   81.033963
            $630-644                                   80.882988
            $645-680                                   81.027843

                                           Average Math Score  \
School Type Spending Ranges (Per Student)
Charter     <$585                                   83.455399
            $585-629                                83.516957
            $630-644                                83.418349
            $645-680                                      NaN
District    <$585                                         NaN
            $585-629                                77.048432
            $630-644                                76.885690
            $645-680                                76.997210

                                           % Passing Reading  % Passing Math  \
School Type Spending Ranges (Per Student)
Charter     <$585                                  96.610877       93.460096
            $585-629                               96.313180       93.951362
            $630-644                               97.308869       93.272171
            $645-680                                     NaN             NaN
District    <$585                                        NaN             NaN
            $585-629                               81.933280       66.680064
            $630-644                               80.086101       66.888221
            $645-680                               81.133951       66.164813

                                           % Passing Both
School Type Spending Ranges (Per Student)
Charter     <$585                               90.369459
            $585-629                            90.344034
            $630-644                            90.948012
            $645-680                                  NaN
District    <$585                                     NaN
            $585-629                            54.642283
            $630-644                            53.494203
            $645-680                            53.526855