# Pandas Challenge - PyCitySchools

## Set-up

In [1]:
#Import dependencies
import pandas as pd
import numpy as np

In [2]:
#Load in files
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
#Read in files, save as dataframes
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
#Combine data into single dataframe
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

In [5]:
#Find unique school names
total_schools_array = school_data_complete["school_name"].unique()
total_schools_array

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [6]:
#Find length of total_schools_array
number_of_schools = len(total_schools_array)

number_of_schools

15

In [7]:
#Calculate total number of students
total_students = len(school_data_complete["student_name"])

total_students

39170

In [8]:
#Calculate total budget
total_budget = school_data["budget"].sum()

total_budget

24649428

In [9]:
#Calculate average math score
avg_math_score = school_data_complete["math_score"].mean()

avg_math_score

78.98537145774827

In [10]:
#Calculate average reading score
avg_reading_score = school_data_complete["reading_score"].mean()

avg_reading_score

81.87784018381414

In [11]:
#Calculate percentage of students passing math (>= 70)

passing_math_scores = [entry for entry in school_data_complete["math_score"] if entry >= 70]

percent_passing_math = (len(passing_math_scores)/total_students) * 100

percent_passing_math

74.9808526933878

In [12]:
#Calculate percentage of students passing reading (>= 70)

passing_reading_scores = [entry for entry in school_data_complete["reading_score"] if entry >= 70]

percent_passing_reading = (len(passing_reading_scores)/total_students) * 100

percent_passing_reading

85.80546336482001

In [13]:
#Calculate percentage passing both
passing_both = school_data_complete.loc[(school_data_complete["reading_score"] >=70) & (school_data_complete["math_score"] >= 70), :].count()

passing_both_count = passing_both.iloc[1]

percent_passing_both = (passing_both_count/total_students)*100

percent_passing_both

#Method for calculating "passing_both" courtesy of Sanoo Singh. Thank you!

65.17232575950983

In [14]:
#Create dataframe with results

district_summary = {"Total Schools": [number_of_schools], "Total Students": [total_students], "Total Budget": [total_budget], "Average Math Score": [avg_math_score], "Average Reading Score": [avg_reading_score], "% Passing Math": [percent_passing_math], "% Passing Reading": [percent_passing_reading], "% Passing Overall" : percent_passing_both }
    
district_summary_df = pd.DataFrame(district_summary)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [ ]:
#Format displayed data

## School Summary

In [15]:
school_data = school_data_complete[["school_name", "type", "size", "budget"]].drop_duplicates()

school_data

                 school_name      type  size   budget
0          Huang High School  District  2917  1910635
2917    Figueroa High School  District  2949  1884411
5866     Shelton High School   Charter  1761  1056600
7627   Hernandez High School  District  4635  3022020
12262    Griffin High School   Charter  1468   917500
13730     Wilson High School   Charter  2283  1319574
16013    Cabrera High School   Charter  1858  1081356
17871     Bailey High School  District  4976  3124928
22847     Holden High School   Charter   427   248087
23274       Pena High School   Charter   962   585858
24236     Wright High School   Charter  1800  1049400
26036  Rodriguez High School  District  3999  2547363
30035    Johnson High School  District  4761  3094650
34796       Ford High School  District  2739  1763916
37535     Thomas High School   Charter  1635  1043130

In [27]:
school_data["budget_per_student"] = school_data["budget"]/school_data["size"]

school_data

                 school_name      type  size   budget  budget_per_student
0          Huang High School  District  2917  1910635               655.0
2917    Figueroa High School  District  2949  1884411               639.0
5866     Shelton High School   Charter  1761  1056600               600.0
7627   Hernandez High School  District  4635  3022020               652.0
12262    Griffin High School   Charter  1468   917500               625.0
13730     Wilson High School   Charter  2283  1319574               578.0
16013    Cabrera High School   Charter  1858  1081356               582.0
17871     Bailey High School  District  4976  3124928               628.0
22847     Holden High School   Charter   427   248087               581.0
23274       Pena High School   Charter   962   585858               609.0
24236     Wright High School   Charter  1800  1049400               583.0
26036  Rodriguez High School  District  3999  2547363               637.0
30035    Johnson High School  District  4761  3094650               650.0
34796       Ford High School  District  2739  1763916               644.0
37535     Thomas High School   Charter  1635  1043130               638.0

In [28]:
school_data.sort_values(by=["school_name"])

                 school_name      type  size   budget  budget_per_student
17871     Bailey High School  District  4976  3124928               628.0
16013    Cabrera High School   Charter  1858  1081356               582.0
2917    Figueroa High School  District  2949  1884411               639.0
34796       Ford High School  District  2739  1763916               644.0
12262    Griffin High School   Charter  1468   917500               625.0
7627   Hernandez High School  District  4635  3022020               652.0
22847     Holden High School   Charter   427   248087               581.0
0          Huang High School  District  2917  1910635               655.0
30035    Johnson High School  District  4761  3094650               650.0
23274       Pena High School   Charter   962   585858               609.0
26036  Rodriguez High School  District  3999  2547363               637.0
5866     Shelton High School   Charter  1761  1056600               600.0
37535     Thomas High School   Charter  1635  1043130               638.0
13730     Wilson High School   Charter  2283  1319574               578.0
24236     Wright High School   Charter  1800  1049400               583.0

In [29]:
#Create new column: if the student is passing reading (True or False)

school_data_complete["passing_reading?"] = np.where(school_data_complete["reading_score"] >=70, True, False)

school_data_complete

#numpy code borrowed from: https://www.dataquest.io/blog/tutorial-add-column-pandas-dataframe-based-on-if-else-condition/

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,passing_reading?,passing_math?,passing_both?
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,False,True,False
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,True,False,False
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,True,False,False
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False,False,False
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,True,True,True
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,True,True,True
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,True,True,True
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,True,True,True
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,True,True,True

In [30]:
#Create new column: if the student is passing math (True or False)

school_data_complete["passing_math?"] = np.where(school_data_complete["math_score"] >=70, True, False)

school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,passing_reading?,passing_math?,passing_both?
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,False,True,False
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,True,False,False
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,True,False,False
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False,False,False
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,True,True,True
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,True,True,True
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,True,True,True
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,True,True,True
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,True,True,True

In [31]:
school_data_complete["passing_both?"] = school_data_complete["passing_math?"] & school_data_complete["passing_reading?"]

school_data_complete.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,passing_reading?,passing_math?,passing_both?
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,False,True,False
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,True,False,False
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,True,False,False
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False,False,False
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True,True
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635,True,True,True
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635,True,True,True
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635,True,False,False
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635,True,True,True
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635,True,True,True

In [32]:
#Calculate means by school name
mean_by_school = school_data_complete.groupby("school_name").mean()

mean_by_school

#I am taking advantage of the fact that python treats True like it's a 1, and False like it's a 0

,Student ID,reading_score,math_score,School ID,size,budget,passing_reading?,passing_math?,passing_both?
school_name,,,,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0,0.819333,0.666801,0.546423
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0,0.970398,0.941335,0.913348
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0,0.807392,0.659885,0.532045
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0,0.792990,0.683096,0.542899
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0,0.971390,0.933924,0.905995
Hernandez High School,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0,0.808630,0.667530,0.535275
Holden High School,23060.0,83.814988,83.803279,8.0,427.0,248087.0,0.962529,0.925059,0.892272
Huang High School,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0,0.813164,0.656839,0.535139
Johnson High School,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0,0.812224,0.660576,0.535392
Pena High School,23754.5,84.044699,83.839917,9.0,962.0,585858.0,0.959459,0.945946,0.905405
Rodriguez High School,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0,0.802201,0.663666,0.529882
Shelton High School,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0,0.958546,0.938671,0.898921
Thomas High School,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0,0.973089,0.932722,0.909480
Wilson High School,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0,0.965396,0.938677,0.905826
Wright High School,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0,0.966111,0.933333,0.903333

In [33]:
#Merge dataframes
school_data_with_avgs = pd.merge(school_data, mean_by_school, on = "school_name")

school_data_with_avgs

,school_name,type,size_x,budget_x,budget_per_student,Student ID,reading_score,math_score,School ID,size_y,budget_y,passing_reading?,passing_math?,passing_both?
0,Huang High School,District,2917,1910635,655.0,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0,0.813164,0.656839,0.535139
1,Figueroa High School,District,2949,1884411,639.0,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0,0.807392,0.659885,0.532045
2,Shelton High School,Charter,1761,1056600,600.0,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0,0.958546,0.938671,0.898921
3,Hernandez High School,District,4635,3022020,652.0,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0,0.808630,0.667530,0.535275
4,Griffin High School,Charter,1468,917500,625.0,12995.5,83.816757,83.351499,4.0,1468.0,917500.0,0.971390,0.933924,0.905995
5,Wilson High School,Charter,2283,1319574,578.0,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0,0.965396,0.938677,0.905826
6,Cabrera High School,Charter,1858,1081356,582.0,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0,0.970398,0.941335,0.913348
7,Bailey High School,District,4976,3124928,628.0,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0,0.819333,0.666801,0.546423
8,Holden High School,Charter,427,248087,581.0,23060.0,83.814988,83.803279,8.0,427.0,248087.0,0.962529,0.925059,0.892272
9,Pena High School,Charter,962,585858,609.0,23754.5,84.044699,83.839917,9.0,962.0,585858.0,0.959459,0.945946,0.905405
10,Wright High School,Charter,1800,1049400,583.0,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0,0.966111,0.933333,0.903333
11,Rodriguez High School,District,3999,2547363,637.0,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0,0.802201,0.663666,0.529882
12,Johnson High School,District,4761,3094650,650.0,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0,0.812224,0.660576,0.535392
13,Ford High School,District,2739,1763916,644.0,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0,0.792990,0.683096,0.542899
14,Thomas High School,Charter,1635,1043130,638.0,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0,0.973089,0.932722,0.909480

In [34]:
#Sort by school names
school_data_with_avgs = school_data_with_avgs.sort_values("school_name")

In [35]:
#Delete unnecessary columns
filtered_school_data = school_data_with_avgs.drop(["Student ID", "School ID", "size_y", "budget_y"], axis=1)

filtered_school_data

,school_name,type,size_x,budget_x,budget_per_student,reading_score,math_score,passing_reading?,passing_math?,passing_both?
7,Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,0.819333,0.666801,0.546423
6,Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,0.970398,0.941335,0.913348
1,Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,0.807392,0.659885,0.532045
13,Ford High School,District,2739,1763916,644.0,80.746258,77.102592,0.792990,0.683096,0.542899
4,Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,0.971390,0.933924,0.905995
3,Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,0.808630,0.667530,0.535275
8,Holden High School,Charter,427,248087,581.0,83.814988,83.803279,0.962529,0.925059,0.892272
0,Huang High School,District,2917,1910635,655.0,81.182722,76.629414,0.813164,0.656839,0.535139
12,Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,0.812224,0.660576,0.535392
9,Pena High School,Charter,962,585858,609.0,84.044699,83.839917,0.959459,0.945946,0.905405
11,Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,0.802201,0.663666,0.529882
2,Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,0.958546,0.938671,0.898921
14,Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,0.973089,0.932722,0.909480
5,Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,0.965396,0.938677,0.905826
10,Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222,0.966111,0.933333,0.903333

In [36]:
#Rename columns
filtered_school_data = filtered_school_data.rename(columns= {"school_name": "School Name", "type": "School Type", "size_x":"Total Students","budget_x":"Total School Budget", "budget_per_student":"Per Student Budget", "reading_score":"Average Reading Score", "math_score":"Average Math Score", "passing_reading?":"% Passing Reading", "passing_math?":"% Passing Math", "passing_both?":"% Passing Both"})

filtered_school_data

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Passing Both
7,Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,0.819333,0.666801,0.546423
6,Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,0.970398,0.941335,0.913348
1,Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,0.807392,0.659885,0.532045
13,Ford High School,District,2739,1763916,644.0,80.746258,77.102592,0.792990,0.683096,0.542899
4,Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,0.971390,0.933924,0.905995
3,Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,0.808630,0.667530,0.535275
8,Holden High School,Charter,427,248087,581.0,83.814988,83.803279,0.962529,0.925059,0.892272
0,Huang High School,District,2917,1910635,655.0,81.182722,76.629414,0.813164,0.656839,0.535139
12,Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,0.812224,0.660576,0.535392
9,Pena High School,Charter,962,585858,609.0,84.044699,83.839917,0.959459,0.945946,0.905405
11,Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,0.802201,0.663666,0.529882
2,Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,0.958546,0.938671,0.898921
14,Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,0.973089,0.932722,0.909480
5,Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,0.965396,0.938677,0.905826
10,Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222,0.966111,0.933333,0.903333

In [37]:
#Set School Name as index
filtered_school_data.set_index("School Name", inplace = True)

filtered_school_data

,School Type,Total Students,Total School Budget,Per Student Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Passing Both
School Name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,0.819333,0.666801,0.546423
Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,0.970398,0.941335,0.913348
Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,0.807392,0.659885,0.532045
Ford High School,District,2739,1763916,644.0,80.746258,77.102592,0.792990,0.683096,0.542899
Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,0.971390,0.933924,0.905995
Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,0.808630,0.667530,0.535275
Holden High School,Charter,427,248087,581.0,83.814988,83.803279,0.962529,0.925059,0.892272
Huang High School,District,2917,1910635,655.0,81.182722,76.629414,0.813164,0.656839,0.535139
Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,0.812224,0.660576,0.535392
Pena High School,Charter,962,585858,609.0,84.044699,83.839917,0.959459,0.945946,0.905405
Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,0.802201,0.663666,0.529882
Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,0.958546,0.938671,0.898921
Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,0.973089,0.932722,0.909480
Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,0.965396,0.938677,0.905826
Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222,0.966111,0.933333,0.903333

In [38]:
#Convert last 3 columns to percents

filtered_school_data["% Passing Reading"] = filtered_school_data["% Passing Reading"] * 100
filtered_school_data["% Passing Math"] = filtered_school_data["% Passing Math"] * 100
filtered_school_data["% Passing Both"] = filtered_school_data["% Passing Both"] * 100

filtered_school_data

,School Type,Total Students,Total School Budget,Per Student Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Passing Both
School Name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,81.933280,66.680064,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,97.039828,94.133477,91.334769
Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,80.739234,65.988471,53.204476
Ford High School,District,2739,1763916,644.0,80.746258,77.102592,79.299014,68.309602,54.289887
Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,97.138965,93.392371,90.599455
Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,80.862999,66.752967,53.527508
Holden High School,Charter,427,248087,581.0,83.814988,83.803279,96.252927,92.505855,89.227166
Huang High School,District,2917,1910635,655.0,81.182722,76.629414,81.316421,65.683922,53.513884
Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,81.222432,66.057551,53.539172
Pena High School,Charter,962,585858,609.0,84.044699,83.839917,95.945946,94.594595,90.540541
Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,80.220055,66.366592,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,95.854628,93.867121,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,97.308869,93.272171,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,96.539641,93.867718,90.582567
Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222,96.611111,93.333333,90.333333

## Top Performing Schools (by % Overall Passing)

In [44]:
#Sort School Summary dataframe by % Overall Passing to display top 5 schools

top_performing_overall = filtered_school_data.sort_values("% Passing Both", ascending=False)

In [45]:
#Display resulting dataframe
top_performing_overall.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Passing Both
School Name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,97.039828,94.133477,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,97.308869,93.272171,90.948012
Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,97.138965,93.392371,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,96.539641,93.867718,90.582567
Pena High School,Charter,962,585858,609.0,84.044699,83.839917,95.945946,94.594595,90.540541

## Bottom Performing Schools (by % Overall Passing)

In [49]:
#Sort School Summary dataframe by % Overall Passing to display bottom 5 schools

bottom_performing_overall = filtered_school_data.sort_values("% Passing Both")

In [50]:
#Display resulting dataframe
bottom_performing_overall.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Reading Score,Average Math Score,% Passing Reading,% Passing Math,% Passing Both
School Name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,80.220055,66.366592,52.988247
Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,80.739234,65.988471,53.204476
Huang High School,District,2917,1910635,655.0,81.182722,76.629414,81.316421,65.683922,53.513884
Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,80.862999,66.752967,53.527508
Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,81.222432,66.057551,53.539172

## Math Scores by Grade per School

In [ ]:
#Create pandas series of math scores for each grade

In [ ]:
#Group grade series by school

In [ ]:
#Combine series into dataframe

In [ ]:
#Display dataframe

In [ ]:
#Format dataframe

## Reading Scores by Grade per School

In [ ]:
#Create pandas series of reading scores for each grade

In [ ]:
#Group grade series by school

In [ ]:
#Combine series into dataframe

In [ ]:
#Display dataframe

In [ ]:
#Format dataframe

## Scores by School Spending

In [ ]:
#Create table that breaks down school performance metrics into 4 bins by 
#Spending Ranges(per student).

## Scores by School Size

In [ ]:
#Create table that breaks down school performance metrics by school size

## Scores by School Type

In [ ]:
#Create table that breaks down school performance metrics by school type