# Pandas Challenge - PyCitySchools

## Set-up

In [1]:
#Import dependencies
import pandas as pd
import numpy as np

In [2]:
#Load in files
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
#Read in files, save as dataframes
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
#Combine data into single dataframe
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

### Calculate total number of schools

In [5]:
#Find unique school names
total_schools_array = school_data_complete["school_name"].unique()
total_schools_array

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [6]:
#Find length of total_schools_array
number_of_schools = len(total_schools_array)

number_of_schools

15

In [7]:
#Calculate total number of students
total_students = len(school_data_complete["student_name"])

total_students

39170

In [8]:
#Calculate total budget
total_budget = school_data["budget"].sum()

total_budget

24649428

In [9]:
#Calculate average math score
avg_math_score = school_data_complete["math_score"].mean()

avg_math_score

78.98537145774827

In [10]:
#Calculate average reading score
avg_reading_score = school_data_complete["reading_score"].mean()

avg_reading_score

81.87784018381414

In [11]:
#Calculate percentage of students passing math (>= 70)

passing_math_scores = [entry for entry in school_data_complete["math_score"] if entry >= 70]

percent_passing_math = (len(passing_math_scores)/total_students) * 100

percent_passing_math

74.9808526933878

In [12]:
#Calculate percentage of students passing reading (>= 70)

passing_reading_scores = [entry for entry in school_data_complete["reading_score"] if entry >= 70]

percent_passing_reading = (len(passing_reading_scores)/total_students) * 100

percent_passing_reading

85.80546336482001

In [13]:
#Calculate percentage passing both
passing_both = school_data_complete.loc[(school_data_complete["reading_score"] >=70) & (school_data_complete["math_score"] >= 70), :].count()

passing_both_count = passing_both.iloc[1]

percent_passing_both = (passing_both_count/total_students)*100

percent_passing_both

#Method for calculating "passing_both" courtesy of Sanoo Singh. Thank you!

65.17232575950983

In [14]:
#Create dataframe with results

district_summary = {"Total Schools": [number_of_schools], "Total Students": [total_students], "Total Budget": [total_budget], "Average Math Score": [avg_math_score], "Average Reading Score": [avg_reading_score], "% Passing Math": [percent_passing_math], "% Passing Reading": [percent_passing_reading], "% Passing Overall" : percent_passing_both }
    
district_summary_df = pd.DataFrame(district_summary)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [ ]:
#Format displayed data

## School Summary

In [18]:
huang_pass_math = school_data_complete[(school_data_complete.school_name == "Huang High School") & (school_data_complete.math_score >=70)]

len(huang_pass_math)

1916

In [15]:
#Create new column: if the student is passing reading (True or False)

school_data_complete["passing_reading?"] = np.where(school_data_complete["reading_score"] >=70, True, False)

school_data_complete

#numpy code borrowed from: https://www.dataquest.io/blog/tutorial-add-column-pandas-dataframe-based-on-if-else-condition/

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,passing_reading?
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,False
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,True
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,True
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True
...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,True
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,True
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,True
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,True
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,True

In [ ]:
#

In [16]:
#Create new column: if the student is passing math (True or False)

school_data_complete["passing_math?"] = np.where(school_data_complete["math_score"] >=70, True, False)

school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,passing_reading?,passing_math?
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,False,True
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,True,False
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,True,False
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False,False
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,True,True
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,True,True
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,True,True
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,True,True
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,True,True

In [18]:
#School names

school_names = total_schools_array

school_names

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [20]:
#Create dataframe to hold and display results

school_summary = {"School Name": school_names}

school_summary_df = pd.DataFrame(school_summary)

school_summary_df

              School Name
0       Huang High School
1    Figueroa High School
2     Shelton High School
3   Hernandez High School
4     Griffin High School
5      Wilson High School
6     Cabrera High School
7      Bailey High School
8      Holden High School
9        Pena High School
10     Wright High School
11  Rodriguez High School
12    Johnson High School
13       Ford High School
14     Thomas High School

## Top Performing Schools (by % Overall Passing)

In [ ]:
#Sort School Summary dataframe by % Overall Passing to display top 5 schools

In [ ]:
#Display resulting dataframe

## Bottom Performing Schools (by % Overall Passing)

In [ ]:
#Sort School Summary dataframe by % Overall Passing to display bottom 5 schools

In [ ]:
#Display resulting dataframe

## Math Scores by Grade per School

In [ ]:
#Create pandas series of math scores for each grade

In [ ]:
#Group grade series by school

In [ ]:
#Combine series into dataframe

In [ ]:
#Display dataframe

In [ ]:
#Format dataframe

## Reading Scores by Grade per School

In [ ]:
#Create pandas series of reading scores for each grade

In [ ]:
#Group grade series by school

In [ ]:
#Combine series into dataframe

In [ ]:
#Display dataframe

In [ ]:
#Format dataframe

## Scores by School Spending

In [ ]:
#Create table that breaks down school performance metrics into 4 bins by 
#Spending Ranges(per student).

## Scores by School Size

In [ ]:
#Create table that breaks down school performance metrics by school size

## Scores by School Type

In [ ]:
#Create table that breaks down school performance metrics by school type