# Pandas Challenge - PyCitySchools

## Set-up

In [1]:
#Import dependencies
import pandas as pd

In [2]:
#Load in files
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
#Read in files, save as dataframes
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
#Combine data into single dataframe
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

### Calculate total number of schools

In [6]:
#Find unique school names
total_schools_array = school_data_complete["school_name"].unique()
total_schools_array

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [7]:
#Find length of total_schools_array
number_of_schools = len(total_schools_array)

number_of_schools

15

In [8]:
#Calculate total number of students
total_students = len(school_data_complete["student_name"])

total_students

39170

In [9]:
#Calculate total budget
total_budget = school_data["budget"].sum()

total_budget

24649428

In [10]:
#Calculate average math score
avg_math_score = school_data_complete["math_score"].mean()

avg_math_score

78.98537145774827

In [11]:
#Calculate average reading score
avg_reading_score = school_data_complete["reading_score"].mean()

avg_reading_score

81.87784018381414

In [30]:
#Calculate percentage of students passing math (>= 70)

passing_math_scores = [entry for entry in school_data_complete["math_score"] if entry >= 70]

percent_passing_math = (len(passing_math_scores)/total_students) * 100

percent_passing_math

74.9808526933878

In [32]:
#Calculate percentage of students passing reading (>= 70)

passing_reading_scores = [entry for entry in school_data_complete["reading_score"] if entry >= 70]

percent_passing_reading = (len(passing_reading_scores)/total_students) * 100

percent_passing_reading

85.80546336482001

In [ ]:
#Calculate percentage passing both
passing_both = [entry for entry in school_data_complete if ]

In [ ]:
#Create dataframe with results

In [ ]:
#Format displayed data

## School Summary

In [ ]:
#Create overview table listing each school individually

In [ ]:
#Create dataframe to hold and display results

## Top Performing Schools (by % Overall Passing)

In [ ]:
#Sort School Summary dataframe by % Overall Passing to display top 5 schools

In [ ]:
#Display resulting dataframe

## Bottom Performing Schools (by % Overall Passing)

In [ ]:
#Sort School Summary dataframe by % Overall Passing to display bottom 5 schools

In [ ]:
#Display resulting dataframe

## Math Scores by Grade per School

In [ ]:
#Create pandas series of math scores for each grade

In [ ]:
#Group grade series by school

In [ ]:
#Combine series into dataframe

In [ ]:
#Display dataframe

In [ ]:
#Format dataframe

## Reading Scores by Grade per School

In [ ]:
#Create pandas series of reading scores for each grade

In [ ]:
#Group grade series by school

In [ ]:
#Combine series into dataframe

In [ ]:
#Display dataframe

In [ ]:
#Format dataframe

## Scores by School Spending

In [ ]:
#Create table that breaks down school performance metrics into 4 bins by 
#Spending Ranges(per student).

## Scores by School Size

In [ ]:
#Create table that breaks down school performance metrics by school size

## Scores by School Type

In [ ]:
#Create table that breaks down school performance metrics by school type