# Pandas Challenge - PyCitySchools

## Set-up

In [2]:
#Import dependencies
import pandas as pd

In [3]:
#Load in files
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [8]:
#Read in files, save as dataframes
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [5]:
#Combine data into single dataframe
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

In [1]:
#Calculate total number of schools

In [ ]:
#Calculate total number of students

In [ ]:
#Calculate total budget

In [ ]:
#Calculate average math score

In [ ]:
#Calculate average reading score

In [ ]:
#Calculate percentage of students passing math (>= 70)

In [ ]:
#Calculate percentage of students passing reading (>= 70)

In [ ]:
#Calculate percentage passing both

In [ ]:
#Create dataframe with results

In [ ]:
#Format displayed data

## School Summary

In [ ]:
#Create overview table listing each school individually

In [ ]:
#Create dataframe to hold and display results

## Top Performing Schools (by % Overall Passing)

In [ ]:
#Sort School Summary dataframe by % Overall Passing to display top 5 schools

In [ ]:
#Display resulting dataframe

## Bottom Performing Schools (by % Overall Passing)

In [ ]:
#Sort School Summary dataframe by % Overall Passing to display bottom 5 schools

In [ ]:
#Display resulting dataframe

## Math Scores by Grade per School

In [ ]:
#Create pandas series of math scores for each grade

In [ ]:
#Group grade series by school

In [ ]:
#Combine series into dataframe

In [ ]:
#Display dataframe

In [ ]:
#Format dataframe

## Reading Scores by Grade per School

In [ ]:
#Create pandas series of reading scores for each grade

In [ ]:
#Group grade series by school

In [ ]:
#Combine series into dataframe

In [ ]:
#Display dataframe

In [ ]:
#Format dataframe

## Scores by School Spending

In [ ]:
#Create table that breaks down school performance metrics into 4 bins by 
#Spending Ranges(per student).

## Scores by School Size

In [ ]:
#Create table that breaks down school performance metrics by school size

## Scores by School Type

In [ ]:
#Create table that breaks down school performance metrics by school type